<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home_page</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/add_expense">Add Expenses</a></li>
            <li><a href="/view_expenses">View Expenses</a></li>
            <li> <a href="/set_budget">Set Budget</a></li>
            <li><a href="/budget_status"> View Budget Status</a></li>
            <li><a href="/affordability_check">Affordability Check</a></li>


        </ul>
        <p>Welcome to Smart Expense Tracker</p>
    </nav>

</body>

</html>